*
{
    padding: 0;
    margin: 0;
    font-family:arial;
    box-sizing: border-box;

}

html,body
{
height:100%;
width: 100%;

}

#main
{
    width: 100%;
    height: 100%;
    
    display: flex;
}

#left
{
    height: 100%;
    width: 40%;
    position: relative;
   
}

#right
{
    height: 100%;
    width: 60%;

}

#rTop
{   
    display: flex;
    width: 100%;
    height: 50%;
    background-color: mediumseagreen;
}
#rBottom
{
    width: 100%;
    height: 50%;
    background-image: url("https://images.pexels.com/photos/1267369/pexels-photo-1267369.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    position: relative;
   
}

#text_info
{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    top: 70%;
    left: 5%;
    font-weight: 700;
    font-size: 4rem;
    color: white;

}
.more_info  
{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    top: 50%;
    left: 5%;
}

#RTLeft
{
    width: 70%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}
#RTRight
{
    width: 30%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1805411/pexels-photo-1805411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}

#lnav
{
 display: flex;
 justify-content: space-between;
 align-items: center;
  width: 100%;
  padding: 20px 30px;  
}

#lnav_of_r a
{
margin-right: 40px;
text-decoration: none;
font-size: 15px;
color: black;
}

#lnav_of_r i
{
    color: rgb(35, 160, 243);
}

#left #text_center
{
    position: absolute;
    top:50%;
    left: 50%;
    height: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
}

#text_center >h1{
    font-size:80px;
    font-weight: 900;
}

#text_center>p{
    opacity: 0.6;
    font-family:12px ;
    line-height: 20px;
    margin:20px 0px;


}

#text_center>a
{
    text-decoration: none;
    border-bottom: 3px solid;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.603);
    font-size: 20px;
    font-weight: 700;
}
